.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.message svg {
  margin-bottom: 8;
}
.message h6 {
  color: #ebebef;
  width: 188px;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.12px;
  text-transform: capitalize;
}
.message p {
  color: #92929d;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
  letter-spacing: 0.12px;
  width: 252px;
}
