.tabsBarBottom {
  width: 375px;
  height: 80px;
  display: flex;
  border-top: 2px solid #0296e5;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #242a32;
  position: fixed;
  left: auto;
  bottom: 0px;
}
.active i {
  color: #0296e5;
}
.tabButtonBottom {
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  margin-left: 40px;
}
